html {
  overflow: scroll;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

iframe {
  display: none;
}

.swiper {
  left: 125px;
  overflow: visible;
}

.App .os-theme-light > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
  max-width: 5px;
  min-width: 5px;
}

.App .os-theme-light > .os-scrollbar-vertical {
  background: rgb(221, 221, 221);
  max-width: 7px;
  padding: 1px;
  border-radius: 15px;
}
